.back {
    filter: blur(0.2em);
    -webkit-filter: blur(0.2em);
    position: absolute;
}

.cont {
    position: relative;

}

.Contact {
    display: block;
}

.logo {
    position: absolute;
    top: 3em;
    left: 67em;
}

.name {
    position: absolute;
    color: white;
    top: 7em;
    left: 60em;
    font-size: 1em;
    justify-content: center;
    font-family: 'pirata one';
}

.address {
    color: white;
    text-align: center;
    top: 1rem;
    left: 1em;
    font-size: 0.7em;
    justify-content: center;
    font-family: 'oxygen';
}

.vl {
    border-left: 0.2rem solid rgb(255, 255, 255);
    height: 17rem;
    position: absolute;
    left: -11%;
    margin-left: -3px;
    top: -5rem;
}

.mail {
    position: absolute;
    color: white;
    text-align: left;
    top: 6em;
    left: 5em;
    font-size: 0.8em;
    justify-content: center;
    font-family: 'oxygen';
}

.collegename {
    font-size: 1.2em;
    justify-content: center;
    text-align: center;
}

.social {
    position: absolute;
    color: white;
    text-align: center;
    top: 9.7em;
    left: 5.5em;
    justify-content: center;
}

.quicklink {
    position: absolute;
    display: block;
    margin-left: 2rem;
    top: 1rem;
}

.quick {
    position: absolute;
    color: white;
    top: 0.1rem;
    font-size: 20px;
}

.link {
    color: white;
    font-size: 10px;
    margin-top: 2.5rem;
}

.quicklink1 {
    position: absolute;
    display: block;
    margin-left: 0.1rem;
    top: 1rem;
    left: 11rem;
}

.quick1 {
    position: absolute;
    color: white;
    top: 0.1rem;
    font-size: 20px;
}

.link1 {
    color: white;
    font-size: 10px;
    margin-top: 2.5rem;
}