figCaption {
    position: absolute;
    bottom: 2rem;
    color: white;
    font-size: 2.5em;
    left: 28%;
    font-family: 'pirata one';
}

.page.container {
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1;
}

.head {
    background-image: linear-gradient(to bottom, rgb(32, 32, 37), rgba(67, 67, 71, 0), rgba(88, 22, 19, 0)),
        url('./images/c1.jpg');
    width: 78.9em;
    height: 39em;
    background-size: cover;
}

.whiteLogo {
    position: absolute;
    left: 73.6em;
    top: 0.9em;
}