.login {
    position: absolute;
    top: 25em;
    color: white;
    font-weight: bold;
    left: 41%;
    background-color: rgb(102, 28, 28);
    padding-top: 0.5em;
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 0.5em;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    text-decoration: none;
    border: 0.1em solid white;
}

.login {
    text-decoration: none;
    color: white;
}

.sign {
    position: absolute;
    top: 29em;
    color: white;
    font-weight: bold;
    left: 39.7%;
    background-color: rgb(102, 28, 28);
    padding-top: 0.5em;
    padding-left: 6.6em;
    padding-right: 6.7em;
    padding-bottom: 0.5em;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 0.1em solid white;
}

.sign {
    text-decoration: none;
    color: white;
}

.sign:hover,
.login:hover {
    color: rgb(0, 0, 0);
}